<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <style>
.button {
  background-color: #ADD8E6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
</style>
</head>
<body>
<h1 style="background-color:lightblue;">Email manager</h1>
<form action="/user/mail/" method="post">
    <label for="send to">Send to</label>
<input type="text" id="send to" name="send to">
     <label for="subject">Subject</label>
<input type="text" id="subject" name="subject">
    <label for="message">Message</label>
<input type="text" id="message" name="message">
    <input type="submit" class="button" value="Send email">

</form>
<div>

    {{current_email|safe}}

</div>


<p>
    <a href="/user/" style="lightblue"> Bask to main page</a>
</p>


</body>
</html>