<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New events</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:40px;
}
.button {
  background-color: #ADD8E6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
</style>
</head>
<body>
<h1 style="background-color:lightblue;">Add Events</h1>
<form action="/vacancy/{{vacancy_id}}/events/" method="post">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="title" placeholder="title">
    <input type="submit" class="button" value="Add events">
</form>
<div>

<table style="width:80%">
        <tr style="background-color:lightblue;">
            <th>Id</th>
            <th>Vacancy id</th>
            <th>Event date</th>
            <th>Deadline</th>
             <th>Status</th>
            <th>Title</th>
            <th>Description</th>


        </tr>

        {% for item in events_result %}

        <tr>
        <td>{{ item.id }}</td>
            <td>{{ item.vacancy_id }}</td>
            <td>{{ item.event_data }}</td>
            <td>{{ item.due_to_date }}</td>
            <td>{{ item.status}}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>


        </tr>
{% endfor -%}


    </table>

</div>

<a href="/vacancy/{{vacancy_id}}/">Return to vacancy</a>

</body>
</html>