<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h1 {
      background: lightblue;
      color: black;
    }
body {
  font-family: Verdana, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.loginbtn {
  background-color: #ADD8E6;
  color: black;
  padding: 20px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}



</style>
</head>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<body>
<form action="/" method="post">
  <div class="container">
    <h1>CRM the applicant</h1>
    <hr>

    <label for="login"><b>Login</b></label>
     <p></p>
    <input type="text" placeholder="Enter your login" name="login" id="login" required>
    <p></p>

    <label for="password"><b>Password</b></label>
     <p></p>
    <input type="password" placeholder="Enter your password" name="password" id="password" required>
    <hr>

    <button type="submit" class="loginbtn">Login</button>

    <p><a href="/registration/">Registration</a></p>
  </div>

</form>

</body>
</html>
