<!DOCTYPE html>
<html lang="en">
<head>
<title>Main</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Style the header */
.header {
    padding: 80px;
    text-align: center;
    background: #ADD8E6;
    color: black ;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
</style>
</head>
<body>
<form action="/user/">

<div class="header">
  <h1>CRM the applicant</h1>
  <p>Hi, {{user}} </p>
  <p>Your dream job is near, take a step towards it</p>
</div>

<div class="navbar">
  <a href="/vacancy/">Vacancy</a>
  <a href="/user/mail/">Mails</a>
  <a href="/user/settings/" class="right">Settings</a>
  <a href="/logout/" class="right">Exit</a>
</div>
</form>
</body>
</html>



