<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New vacancy</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:40px;
}
.button {
  background-color: #ADD8E6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
</style>
</head>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<body>
<h1 style="background-color:lightblue;">Settings</h1>
<form action="/user/settings/" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="login" placeholder="login">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="pop server" placeholder="pop server">
    <input type="text" name="pop port" placeholder="pop port">
    <input type="text" name="smtp server" placeholder="smtp server">
     <input type="text" name="smtp port" placeholder="smtp port">
    <input type="text" name="imap server" placeholder="imap server">
     <input type="text" name="imap port" placeholder="imap port">
    <input type="submit" class="button" value="Add email settings">
</form>
<div>
    <table style="width:80%">
        <tr style="background-color:lightblue;">
            <th>Email</th>
            <th>login</th>
            <th>Password</th>
            <th>Pop server</th>
            <th>Pop port</th>
            <th>Smtp server</th>
            <th>Smtp port</th>
            <th>Imap server</th>
            <th>Imap port</th>
        </tr>

        {% for item in result %}

        <tr>
        <td>{{ item.email }}</td>
            <td>{{ item.login }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.pop_server1 }}</td>
            <td>{{ item.pop_port }}</td>
            <td>{{ item.smtp_server }}</td>
            <td>{{ item.smtp_port }}</td>
            <td>{{ item.imap_server }}</td>
            <td>{{ item.imap_port }}</td>

        </tr>
{% endfor -%}


    </table>

</div>
</body>
</html>