<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit vacancy</title>
     <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:40px;
}
.button {
  background-color: #ADD8E6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
</style>
</head>
    <body>
<h1 style="background-color:lightblue;">Edit vacancy</h1>
<form action="/vacancy/{{vacancy_id}}" method="post">
<input type="text" name="status" placeholder="status">
<input type="text" name="comment" placeholder="comment">
      <input type="text" name="name contact" placeholder="name contact">
    <input type="text" name="phone contact" placeholder="phone contact">
    <input type="text" name="email contact" placeholder="email contact">
<input type="submit" class="button" value="Edit vacancy">
    <a href="/vacancy/{{vacancy_id}}/events/" class="button">Add event</a>
<div>
<table style="width:80%">
        <tr style="background-color:lightblue;">
            <th>Id</th>
            <th>Creation date</th>
            <th>Status</th>
            <th>Company</th>
            <th>Contact name</th>
            <th>Contact phone</th>
            <th>Contact email</th>
            <th>Description</th>
            <th>Position name</th>
            <th>Comment</th>
        </tr>

        {% for item in vacancy_select %}

        <tr>
        <td>{{ item.id }}</td>
            <td>{{ item.creation_date }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.company }}</td>
            <td>{{ contacts.get('name')}}</td>
            <td>{{ contacts.get('phone')}}</td>
            <td>{{ contacts.get('email')}}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.position_name }}</td>
            <td>{{ item.comment }}</td>

        </tr>
{% endfor -%}


    </table>

</div>
    </form>
    </body>
</html>