<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New vacancy</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top:40px;
}
.button {
  background-color: #ADD8E6;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
</style>
</head>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<body>
<h1 style="background-color:lightblue;">Vacancy</h1>
<form action="/vacancy/" method="post">
    <input type="text" name="company" placeholder="company">
    <input type="text" name="name contact" placeholder="name contact">
    <input type="text" name="phone contact" placeholder="phone contact">
    <input type="text" name="email contact" placeholder="email contact">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="position_name" placeholder="position_name">
    <input type="submit" class="button" value="Add vacancy">
</form>
<div>
    <table style="width:80%">
        <tr style="background-color:lightblue;">
            <th>Id</th>
            <th>Creation date</th>
            <th>Status</th>
            <th>Company</th>
            <th>Contacts ids</th>
            <th>Description</th>
            <th>Position name</th>
            <th>Comment</th>
        </tr>

        {% for item in vacancy_result %}

        <tr>
        <td>{{ item.id }}</td>
            <td>{{ item.creation_date }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.contacts_ids}}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.position_name }}</td>
            <td>{{ item.comment }}</td>

        </tr>
{% endfor -%}


    </table>

</div>
</body>
</html>